
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(120deg, #bbf437, #96e6a1);
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.form-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}


.form-container h1 {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
}

/* Input field styling */
input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}


input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #96e6a1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1em;
}

input[type="submit"]:hover {
    background-color: #d4fc79;
    color: #333;
}
